@import"./_about.scss";
@import"./_header.scss";
@import"./.variable";

html{
    font-size: 62.5%;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
}
.loading{
    width: 10rem;
    height: 10rem;
    background: color(first);
    position: relative;
}
.menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 4rem;
}
.home{
    background-color: color(first);
}
.home:hover{
    background-color: color(blue2);
}
.shows{
    background-color: color(second);
}
.shows:hover{
    background-color: color(pink2);
}
.aboutus{
    background-color: color(first);
}
.aboutus:hover{
    background-color: color(blue2);
}
.contactus{
    background-color: color(second);
}
.contactus:hover{
    background-color: color(pink2);
}