@import"./_about.scss";
@import"./_header.scss";
@import"./.variable";

html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: color(main);
    outline: none;
}

.menu{
    display: flex;
    justify-content: space-around;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 4rem;
}
.home{
    background-color: color(first);
}
.home:hover{
    background-color: color(blue2);
}
.shows{
    background-color: color(second);
}
.shows:hover{
    background-color: color(pink2);
}
.aboutus{
    background-color: color(first);
}
.aboutus:hover{
    background-color: color(blue2);
}
.contactus{
    background-color: color(second);
}
.contactus:hover{
    background-color: color(pink2);
}
.images{
    margin: 0 auto;
}
.logo{
    display: block;
    animation-name: logo;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
.gun{
    margin: 5rem;
    transform: rotate(15deg);
}
@keyframes logo{
    0% {left: 0rem; top: 0rem;}
    25% {left: 40rem; top: 0rem;}
    50%{left: 40rem; top: 0rem;}
    75%{left: 10rem; top: 0rem;}
}
.button, .button:visited, .button:active{
    transform: rotate(15deg);
    background-color: transparent;
    margin: 0 auto;
    padding: 0rem;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 2rem;
    
}
