@import"./_about.scss";
@import"./_header.scss";
@import"./.variable";

html{
    font-size: 62.5%;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
}

$padding: 0.5rem;

.menu{
    font-family: 'Fira Sans Condensed', sans-serif;
    background: color(main);
    display:flex;
    font-size: 3rem;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
}
